{% extends 'dashboard/admin/base.html' %}
{% block title %}dashboard{% endblock %}


{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'contain.css' %}">
<div class="col-lg-3 col-6" style="margin-top: 10px; height:auto;">
    <!-- small box -->
    <div class="bg" style="height:120px;width: 400px;background-color: #ecb348;">
      <div class="inner" style="padding-left: 50px;">
        <h3>{{drugs_count}}</h3>
        <p>Total drugs</p>
      </div>
      <div class="icon">
        <i class="bi bi-bar-chart" style="font-size: 2rem; color: red;"></i>
      </div>
    </div>
</div>

<div class="container" style="margin-left:0;">
    <div class="row">
        {% for drug in products %}
        <div class="col-lg-3 col-md-5 col-sm-6">
            <div class="drug-card">
                <p class="drug-category">Category: {{ drug.category_name }}</p>
                <img src="{{ drug.item.url }}" class="drug-img" alt="..." style="height: 200px;width:200px">
                <div class="drug-info">
                    <h5 class="drug-title">{{ drug.item_name }}</h5>
                    <p class="drug-price">KSH: {{ drug.unit_price }}</p>
                    <a href="{% url 'edit_product' drug.id %}" class="btn btn-primary drug-edit-btn">Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
