{% extends 'dashboard/admin/base.html' %}
{% block title %}create category{% endblock %}
{% block content %}
<section class="content" >
    <div class="container-fluid">
        <div class="card card-primary" style="max-width:600px;margin:0 auto ;border-radius:20px;">
            <div class="card-header">
                <h3>create</h3>
            </div>
            <form action="" method="post">
                {% if messages %} {% for message in messages %}
                {{ message }}

                {% endfor %}{% endif %}

                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        {{cat}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left:4rem ;">submit</button>
            </form>
             <div class="card-body">
                
                <table class="table table-striped">
                    <tr>
                        <th>category</th>
                    </tr>
                    <tr>
                        {% for x in categs %}
                        <td>{{x.name}}</td>
                        {% endfor %}
                    </tr>
                </table>
             </div>
        </div>
    </div>
</section>
{% endblock %}